# Backend dependencies for django
asgiref==3.8.1
attrs==25.3.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
django-filter==25.1
django-storages==1.14.6
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.24.2
drf-spectacular-sidecar==2025.3.1
drf-yasg==1.21.10
google-api-core==2.24.2
google-auth==2.39.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
packaging==23.2
pillow==11.2.1
proto-plus==1.26.1
protobuf==3.20.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.9.0
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
rpds-py==0.23.1
rsa==4.9
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.4.0


# Backend dependencies for FastAPI
fastapi>=0.68.0
uvicorn>=0.15.0
qdrant-client>=1.1.1
python-dotenv>=0.19.0
streamlit>=1.28.2
redis>=4.0.1
pydantic>=2.5.1

# Dependencies for utilities
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
docutils==0.21.2
filetype==1.2.0
Flask==2.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.2.1
Pygments==2.19.1
requests==2.32.3
Werkzeug==2.0.1

