DEEPGRAM_API_KEY="<Your Deepgram API Key>"
# OPENAI_API_KEY=<Your OpenAI API Key>
# CARTESIA_API_KEY=<Your Cartesia API Key>
LIVEKIT_API_KEY="devkey"
LIVEKIT_API_SECRET="secret"
LIVEKIT_URL="ws://localhost:7880"
GOOGLE_API_KEY="<your gemini api key>"
GEMINI_API_KEY="<your gemini api key>" # same as google api key

EMAIL_SENDER="<sender email>"
EMAIL_PASSWORD="<sender email password>" # app password if using gmail